<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GUI508.Resources.UserPreferences" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GUI508.Resources.GUIUserPreferences" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <GUI508.Resources.UserPreferences>
            <setting name="DisplayErrors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayNoErrors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayNoComplaince" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayAll" serializeAs="String">
                <value>False</value>
            </setting>
        </GUI508.Resources.UserPreferences>
        <GUI508.Resources.GUIUserPreferences>
            <setting name="DisplayOnlyErrors" serializeAs="String">
                <value>False</value>
            </setting>
        </GUI508.Resources.GUIUserPreferences>
    </userSettings>
</configuration>